<?php

// application root
define('APP_ROOT', '');

// CHPP application ID
// Leave it empty if your application is not CHPP certified
define('CHPP_APP_ID', '');

// github repository
define('GH_REPO', 'tagliala/WageWizard');
?>
